<html>
  <head>
   <title>Kiyoshi Ohno の自己紹介ページ</title>
  </head>
  <body>
    <h2>仕事</h2>
    <p>Web広告関係の仕事をしています。前職は SIer でした。</p>
    <h2>趣味</h2>
    <p>海外旅行が趣味です</p>
    <img src="images/brazil.png"></img>
    <p><a href="/">戻る</p>
  </body>
</html>

