<html>
  <head>
   <title>自己紹介ページ</title>
  </head>
  <body>
    <ul>
      <li><a href="cloudliner">Kiyoshi Ohno</a></li>
      <li><a href="prof_hohda">Kenichiro Hohda</a></li>
    </ul>
  </body>
</html>
